body {
    max-width: 900px;
    margin: 0 auto;
}

p {
    padding: 0;
    margin: 0;
}

header {
    background-color: #080040;
    padding: 20px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom: 2px solid #f20;
}

h1 {
    color: #f20;
    text-align: center;
}

.inputContainer {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2em;
}

label {
    color: #f20;
}

#botaoCalcular {
    background-color: #f20;
    border: none;
    border-radius: 5px;
}

main {
    background-color: #080040;
    padding: 20px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.calculoContainer {
    border: 1px solid #f20;
    width: 30%;
    padding: 10px;
}

.calculoNome {
    color: #f20;
    font-size: 1.2em;
    text-align: center;
}

.resultado {
    color: white;
    font-size: 2em;
    text-align: center;
}